body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.hosted-video__wrapper, .article_body img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 560px !important;
}
